<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Near by
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Near by</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="isLoaded">
    <ion-row >
      <ion-col *ngFor="let item of data; let i = index">
        <app-item-avatar [user]="item"></app-item-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="!isLoaded">
    <ion-row >
      <ion-col *ngFor="let item of [1,2,3,4,4,5,6,7,8,9]; let i = index">
        <div class="item-avatar-skeleton">
          <ion-avatar>
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-avatar>
          <p>
            <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </p>
        </div> 
      </ion-col>
      
    </ion-row>
    </ion-list>
 
  </ion-content>
