.top {
    background-color: rgb(180, 241, 114);
    
    ion-avatar {
        margin: 0 auto;
        padding-top: 80px;
        height: 180px; 
        width: 100px;
        img {
            border: 2px solid rgb(63, 47, 100);
            height: 100px; 
            width: 100px;
        }
       
    }
   
    .sub-info {
       text-align: center;
       padding-bottom: 60px;
    //    img {
    //     vertical-align: bottom;
    //     width: 24px;
    //    }
       .item {
            font-size: 18px;
            padding: 0;
            margin: 0;
            ion-icon {
                color: rgb(24, 87, 235);
                padding-top: 4px;
                padding-left: 4px;;
                font-size: 12px;
            }
       }
    }
} 