<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="top" *ngIf="!isLoading">
    <ion-avatar>
        <img alt="profile" [src]="user?.avatar" />
    </ion-avatar>

    <div class="sub-info">
        <p class="item"> <b>{{user?.name}}</b> <ion-icon name="ribbon-outline"></ion-icon></p>
    </div>
 
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Personal Info</ion-card-subtitle>

        </ion-card-header>
      
        <ion-card-content>
            <ion-item button>
                <ion-label>
                <h3>Gender</h3>
                <p>{{user?.gender}}</p>
                </ion-label>
            </ion-item>
            
            <ion-item button>
                <ion-label>
                <h3>Age</h3>
                <p>{{user?.age}}</p>
                </ion-label>
            </ion-item>
            
            <ion-item button>
                <ion-label>
                <h3>Race</h3>
                <p>{{user?.race}}</p>
                </ion-label>
            </ion-item>
        </ion-card-content>
      </ion-card>
  </div>

  <ion-item *ngIf="isLoading">
      <ion-spinner name="dots"></ion-spinner>
  </ion-item> 
</ion-content>
