.user-details {
    height: 100%;
    background-color: rgb(243, 243, 243);
    .top {
        background-color: #292929;
        height: 75%;
    }

    .info {
        padding: 10px 20px;
        height: 24%;
        h2 {
            font-size: 26px;
        }
        p {
            font-size: 18px;
            margin: 0;
        }

        .chat ion-icon {
            font-size: 36px;
            padding: 20px 0 0 20px;
         }   
        
    }
}