<!-- Default back button -->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="back"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header> 

<div class="user-details">
    <div class="top"></div>

    <div class="info">
        <ion-grid>
            <ion-row>
            <ion-col size="7">
                <h2>{{user?.name}}, {{user?.age}}</h2>
                <p><ion-icon name="location-outline"></ion-icon> {{user?.distance}} km away</p>
            </ion-col>
            <ion-col size="5" class="chat">
                <ion-icon (click)="actionButton('chat')" button name="chatbubble-outline"></ion-icon>
                <ion-icon (click)="actionButton('star')" button name="star-outline"></ion-icon>
            </ion-col>
            </ion-row>
        </ion-grid>
        
    </div>
</div> 